* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: #c9d8f0;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #12be76;
  padding: 20px;
  margin: 10px;
  font-weight: bold;
}

.banner {
  background-color: #12be76;
  padding: 20px;
  margin: 10px;
}

.intro-text {
  background-color: white;
  padding: 30px;
  margin: 10px;
}

.boxes {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin: 10px;
  gap: 20px;
}

.box {
  background-color: white;
  flex: 1;
  padding: 30px;
  margin: 5px auto;
  border: 1px solid black;
  height: 500px;
}

.alien_svg {
  width: 3%;
  height: auto;
  margin: 20px;
}

.footer {
  background-color: #12be76;
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding: 20px;
}
