body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #979595;
  box-sizing: border-box;
}

.navbar,
.footer {
  width: 100%;
  background-color: #f4f4f4;
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.sidebar {
  width: 10%;
  background-color: #e2e2e2;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
